<div class="container">
  <h1 class="text-center">All food</h1>
  <div class="d-flex align-items-center justify-content-end">
    <%=link_to "Add food", new_user_food_path(current_user),class: 'active' %>
  </div>
  <div class="container p-2">
    <%if @foods.empty?%>
    <h1 class="text-center">No food to display</h1>
    <%else%>
     <table class="table">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Measurement unit</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
         <%@foods.each do|food|%>
            <tr>
            <th scope="row"><%=food.name%></th>
            <td><%=food.measurement_unit%></td>
            <td>$<%=food.price%></td></td>
            <td><%= button_to 'Remove', user_food_path(food.user,food.id), method: :delete, data: { turbo_method: :delete } ,class:'link btn text-primary'%></td></td>
            </tr>
         
          <%end%> 
      </tbody>
    </table>
 <%end%>
  </div>
</div>